.content {
    border: 2px solid #192d46;
    border-radius: 5px;
    height: 60vh;
    overflow-y: scroll;
    padding: 10px 20px 10px 10px;
}

.content::-webkit-scrollbar {
    width: 1em;
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #192d46;
}

.content::-webkit-scrollbar-thumb {
    background-color: #192d46;
    outline: 1px solid #192d46;
}
