.chat_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 15px 20px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #e3ecf4;
    background: #303a46;
    border-radius: 5px;
    cursor: default;
}

.item_icon {
    display: flex !important;
    align-items: center;
}

header i {
    margin-right: 5px;
}

.right_side {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
