.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    font-size: 16px;
}

.modal_content {
    width: 450px;
    height: 250px;
    background: #303a46;
    color: #e3ecf4;
    position: relative;
    animation: modal .6s forwards;
}

.modal_content header {
    color: #d4d7de;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
}

.modal_content section {
    margin: 15px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.modal_content textarea {
    font-family: arial;
    font-size: 18px;
    padding: 5px 0 0 5px;
    width: 95%;
    resize: none;
    overflow: auto;
    color: rgb(227, 236, 244);
    background: transparent;
    border: none;
}

.modal_footer {
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.modal_footer button {
    padding: 5px 20px;
    border-radius: 3px;
    background: #272b34;
    border: none;
    color: rgb(227, 236, 244);
    z-index: 2;
    transition: 50ms;
}

.modal_footer button:hover {
    background: #1c1e28;
}

.modal_footer button:nth-child(1) {
    margin-right: 5px;
}

@keyframes modal {
    from {
        top: -100%;
        left: -100%;
    }
    50% {
        transform: rotate(-20deg);
    }
    to {
        top: 50px;
        left: 0;
    }
}
